.App {
  display: grid;
  grid-template-columns: 15% auto 20%; 
  height: 100vh;
  user-select: none;
}




.buttons-section {
  align-content: center;
  background-color: #f8f9fa;
 
}

.canvas-section {
  background: #f0f0f0;
 
}

.other-functionality-section {
  background-color: #f8f9fa;
  align-content: space-evenly;
 
}
